In [1]:
import pandas as pd

In [2]:
imdb = pd.read_csv("../dados/imdb.csv")

In [6]:
(imdb.
    filter(["direcao"]).
    assign(direcao2 = lambda x: x.direcao.str.split(",")).
    explode("direcao2")
)

                              direcao           direcao2
0                         Tay Garnett        Tay Garnett
1                      Henry Hathaway     Henry Hathaway
2                     Raphaël Nadjari    Raphaël Nadjari
3      Eddie Beverly Jr., Tommy Blaze  Eddie Beverly Jr.
3      Eddie Beverly Jr., Tommy Blaze        Tommy Blaze
...                               ...                ...
28485                     Jake Kasdan        Jake Kasdan
28486                     Jack Arnold        Jack Arnold
28487                  John Carpenter     John Carpenter
28488                     Robert Wise        Robert Wise
28489                     John Polson        John Polson

[30465 rows x 2 columns]