In [2]:
## Todos os exercícios daqui vão usar a base do IMDB
# mais exercícios aqui: https://github.com/guipsamora/pandas_exercises
import pandas as pd
import numpy as np
from math import floor

imdb = pd.read_csv("../dados/imdb.csv")

In [7]:
# Crie uma coluna chamada prejuizo (orcamento - receita) e salve a nova tabela em um objeto chamado imdb_prejuizo. Em seguida, filtre apenas os filmes que deram prejuízo e ordene a tabela 
# por ordem crescente de prejuízo.

imdb_prejuizo = imdb.assign(
    prejuizo = lambda x: x.receita - x.orcamento
)

imdb_prejuizo.query("prejuizo < 0").sort_values("prejuizo").filter(["titulo", "prejuizo"])

                                                 titulo     prejuizo
2545                                       The Irishman -158031147.0
17598                                   Mars Needs Moms -110766322.0
6420                                   The 13th Warrior  -98301101.0
21921                                     Live by Night  -85321445.0
23411                                         The Alamo  -81180039.0
...                                                 ...          ...
20832  Come Back to the 5 & Dime Jimmy Dean, Jimmy Dean      -9042.0
14603                         The Giant Spider Invasion      -6947.0
4306                                              Wanda      -6478.0
17499                                         Newlyweds      -4000.0
4697                                            Smashed       -275.0

[2148 rows x 2 columns]

In [8]:
# Crie uma nova coluna que classifique o filme em "recente" (posterior a 2000) e "antigo" (de 2000 para trás).

imdb.assign(
    tempo_lancamento = lambda x: np.select(
        [x.ano < 2000, x.ano >= 2000],
        ["Recente", "Antigo"]
    )
)

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,...,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica,tempo_lancamento
0,tt0023352,Prestige,1931.0,1932-01-22,"Adventure, Drama",71,USA,English,NaN,NaN,...,5.7,240,Tay Garnett,"Harry Hervey, Tay Garnett",RKO Pathé Pictures,"Ann Harding, Adolphe Menjou, Melvyn Douglas, I...",A woman travels to a French penal colony in In...,12.0,2.0,Recente
1,tt0037946,Nob Hill,1945.0,1945-11-15,"Drama, Musical",95,USA,English,NaN,NaN,...,6.3,246,Henry Hathaway,"Wanda Tuchock, Norman Reilly Raine",Twentieth Century Fox,"George Raft, Joan Bennett, Vivian Blaine, Pegg...",The owner of a San Francisco saloon yearns to ...,11.0,2.0,Recente
2,tt0216204,The Shade,1999.0,2000-03-01,Drama,83,USA,English,400000.0,NaN,...,7.1,102,Raphaël Nadjari,"Fyodor Dostoevsky, Raphaël Nadjari",Filmaker,"Richard Edson, Lorie Marino, Jeff Ware, Barbar...",NaN,1.0,1.0,Recente
3,tt0171889,Viewer Discretion Advised,1998.0,2012-05-01,"Comedy, Horror",105,USA,English,NaN,NaN,...,3.4,111,"Eddie Beverly Jr., Tommy Blaze","Tommy Blaze, Philip Morton",Troma Entertainment,"Ken Donovan, Philip Morton, Caroline Jett, Tom...",Ted Smith becomes trapped in the TV shows he w...,5.0,3.0,Recente
4,tt0092699,Broadcast News,1987.0,1988-04-01,"Comedy, Drama, Romance",133,USA,"English, Spanish, French, German",20000000.0,67331309.0,...,7.2,26257,James L. Brooks,James L. Brooks,Amercent Films,"William Hurt, Albert Brooks, Holly Hunter, Rob...",Take two rival television reporters: one hands...,142.0,62.0,Recente
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28485,tt7975244,Jumanji: The Next Level,2019.0,2019-12-25,"Action, Adventure, Comedy",123,USA,English,125000000.0,796575993.0,...,6.7,168698,Jake Kasdan,"Jake Kasdan, Jeff Pinkner",Matt Tolmach Productions,"Dwayne Johnson, Kevin Hart, Jack Black, Karen ...","In Jumanji: The Next Level, the gang is back b...",940.0,241.0,Antigo
28486,tt0051948,Monster on the Campus,1958.0,1958-12-17,"Horror, Sci-Fi",77,USA,English,NaN,NaN,...,5.8,1517,Jack Arnold,David Duncan,Universal International Pictures (UI),"Arthur Franz, Joanna Moore, Judson Pratt, Nanc...",The blood of a primitive fish exposed to gamma...,49.0,38.0,Recente
28487,tt1369706,The Ward,2010.0,2011-04-01,"Horror, Mystery, Thriller",89,USA,English,10000000.0,5343820.0,...,5.6,39789,John Carpenter,"Michael Rasmussen, Shawn Rasmussen",FilmNation Entertainment,"Amber Heard, Mamie Gummer, Danielle Panabaker,...",An institutionalized young woman becomes terro...,190.0,263.0,Antigo
28488,tt0038549,A Game of Death,1945.0,1946-06-07,Adventure,72,USA,English,NaN,NaN,...,5.8,302,Robert Wise,"Richard Connell, Norman Houston",RKO Radio Pictures,"John Loder, Audrey Long, Edgar Barrier, Russel...",A remake of Richard Connell's famous short sto...,11.0,10.0,Recente
28489,tt0283026,Swimfan,2002.0,2003-05-30,"Drama, Thriller",85,USA,English,10000000.0,34411240.0,...,5.1,18771,John Polson,"Charles F. Bohl, Phillip Schneider",Twentieth Century Fox,"Jesse Bradford, Erika Christensen, Shiri Apple...",A high school senior with a promising swimming...,216.0,88.0,Antigo

In [10]:
# Identifique os filmes que são gênero 'Comedy' e 'Horror' ao mesmo tempo.

imdb[imdb["generos"].str.contains("comedy", case = False) & imdb["generos"].str.contains("horror", case = False)]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
3,tt0171889,Viewer Discretion Advised,1998.0,2012-05-01,"Comedy, Horror",105,USA,English,NaN,NaN,NaN,3.4,111,"Eddie Beverly Jr., Tommy Blaze","Tommy Blaze, Philip Morton",Troma Entertainment,"Ken Donovan, Philip Morton, Caroline Jett, Tom...",Ted Smith becomes trapped in the TV shows he w...,5.0,3.0
17,tt6293796,Witch-Hunt,2017.0,2017-04-01,"Comedy, Horror, Thriller",81,USA,English,NaN,NaN,NaN,5.5,213,Philip Schaeffer,Philip Schaeffer,NaN,"Melina Bartzokis, Erin Curtis, Abby Eiland, Li...",When five young women gather to play a witch-t...,14.0,NaN
47,tt0092850,Deadtime Stories,1986.0,1986-11-28,"Comedy, Horror",93,USA,English,NaN,2750741.0,2750741.0,4.8,1647,Jeffrey Delman,"Jeffrey Delman, J. Edward Kiernan",Scary Stuff,"Scott Valentine, Nicole Picard, Matt Mitler, C...",A babysitting uncle tells his nephew three hor...,32.0,46.0
59,tt0058264,Kiss Me Quick!,1964.0,1964-12-25,"Comedy, Horror, Sci-Fi",70,USA,English,NaN,NaN,NaN,5.0,306,Peter Perry Jr.,NaN,Fantasy Films (I),"Max Gardens, Frank A. Coe, Natasha, Jackie De ...","Sterilox, asexual ambassador from a distant pl...",14.0,16.0
131,tt0093855,A Return to Salem's Lot,1987.0,1987-09-11,"Comedy, Horror, Thriller",101,USA,English,12000000.0,NaN,NaN,4.4,3326,Larry Cohen,"Stephen King, Larry Cohen",Larco Productions,"Michael Moriarty, Ricky Addison Reed, Samuel F...",A man and his son vacation to the quiet vampir...,71.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28301,tt8663446,Halloween at Aunt Ethel's,2019.0,2019-01-02,"Comedy, Horror, Thriller",80,USA,English,NaN,NaN,NaN,4.6,879,Joseph Mazzaferro,Joseph Mazzaferro,Hawk9 Productions,"Chris Cavalier, Melissa Daddio, Sean Michael G...",Everyone in town knows the story of Old Aunt E...,45.0,11.0
28321,tt1727776,Scouts Guide to the Zombie Apocalypse,2015.0,2015-10-30,"Action, Comedy, Horror",93,USA,English,15000000.0,16137046.0,3703046.0,6.3,44058,Christopher Landon,"Carrie Lee Wilson, Emi Mochizuki",Paramount Pictures,"Tye Sheridan, Logan Miller, Joey Morgan, Sarah...","Three scouts, on the eve of their last camp-ou...",151.0,164.0
28333,tt0083310,Wacko,1982.0,1983-01-07,"Comedy, Horror",90,USA,English,600000.0,NaN,NaN,4.8,890,Greydon Clark,"Dana Olsen, Michael Spound",O.S.M.,"Joe Don Baker, Stella Stevens, George Kennedy,...","Thirteen years after the ""Lawnmower Killer"" ki...",28.0,22.0
28368,tt0103077,There's Nothing Out There,1991.0,1992-03-10,"Comedy, Horror",91,USA,English,350000.0,NaN,NaN,5.7,1355,Rolfe Kanefsky,Rolfe Kanefsky,Valkhn Film & Video,"Craig Peck, Wendy Bednarz, Mark Collver, Bonni...",When a horror film buff tries to warn his frie...,28.0,50.0
28458,tt0099108,Basket Case 2,1990.0,1990-10-05,"Comedy, Horror",90,USA,English,2500000.0,NaN,NaN,5.4,4262,Frank Henenlotter,Frank Henenlotter,Shapiro-Glickenhaus Entertainment,"Kevin Van Hentenryck, Judy Grafe, Annie Ross, ...",Duane and his basket-bound mutant brother are ...,52.0,73.0

In [11]:
# Selecione os filmes que não são do gênero 'Horror'.

imdb[~imdb["generos"].str.contains("Horror")]

,id_filme,titulo,ano,data_lancamento,generos,duracao,pais,idioma,orcamento,receita,receita_eua,nota_imdb,num_avaliacoes,direcao,roteiro,producao,elenco,descricao,num_criticas_publico,num_criticas_critica
0,tt0023352,Prestige,1931.0,1932-01-22,"Adventure, Drama",71,USA,English,NaN,NaN,NaN,5.7,240,Tay Garnett,"Harry Hervey, Tay Garnett",RKO Pathé Pictures,"Ann Harding, Adolphe Menjou, Melvyn Douglas, I...",A woman travels to a French penal colony in In...,12.0,2.0
1,tt0037946,Nob Hill,1945.0,1945-11-15,"Drama, Musical",95,USA,English,NaN,NaN,NaN,6.3,246,Henry Hathaway,"Wanda Tuchock, Norman Reilly Raine",Twentieth Century Fox,"George Raft, Joan Bennett, Vivian Blaine, Pegg...",The owner of a San Francisco saloon yearns to ...,11.0,2.0
2,tt0216204,The Shade,1999.0,2000-03-01,Drama,83,USA,English,400000.0,NaN,NaN,7.1,102,Raphaël Nadjari,"Fyodor Dostoevsky, Raphaël Nadjari",Filmaker,"Richard Edson, Lorie Marino, Jeff Ware, Barbar...",NaN,1.0,1.0
4,tt0092699,Broadcast News,1987.0,1988-04-01,"Comedy, Drama, Romance",133,USA,"English, Spanish, French, German",20000000.0,67331309.0,51249404.0,7.2,26257,James L. Brooks,James L. Brooks,Amercent Films,"William Hurt, Albert Brooks, Holly Hunter, Rob...",Take two rival television reporters: one hands...,142.0,62.0
5,tt0037931,"Murder, He Says",1945.0,1945-06-23,"Comedy, Crime, Mystery",91,USA,English,NaN,NaN,NaN,7.1,1639,George Marshall,"Lou Breslow, Jack Moffitt",Paramount Pictures,"Fred MacMurray, Helen Walker, Marjorie Main, J...",A pollster stumbles on a family of murderous h...,35.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28483,tt10253466,Badland,2019.0,2019-11-01,Western,117,USA,English,NaN,NaN,NaN,5.5,1693,Justin Lee,Justin Lee,Papa Octopus Productions,"Kevin Makely, Mira Sorvino, Bruce Dern, Wes St...",Detective Matthias Breecher is hired to track ...,110.0,8.0
28484,tt0041687,Neptune's Daughter,1949.0,1951,"Comedy, Musical, Romance",95,USA,English,NaN,NaN,NaN,6.5,1299,Edward Buzzell,"Dorothy Kingsley, Ray Singer",Metro-Goldwyn-Mayer (MGM),"Esther Williams, Red Skelton, Ricardo Montalba...",A swimsuit fashion designer is determined to p...,26.0,20.0
28485,tt7975244,Jumanji: The Next Level,2019.0,2019-12-25,"Action, Adventure, Comedy",123,USA,English,125000000.0,796575993.0,316831246.0,6.7,168698,Jake Kasdan,"Jake Kasdan, Jeff Pinkner",Matt Tolmach Productions,"Dwayne Johnson, Kevin Hart, Jack Black, Karen ...","In Jumanji: The Next Level, the gang is back b...",940.0,241.0
28488,tt0038549,A Game of Death,1945.0,1946-06-07,Adventure,72,USA,English,NaN,NaN,NaN,5.8,302,Robert Wise,"Richard Connell, Norman Houston",RKO Radio Pictures,"John Loder, Audrey Long, Edgar Barrier, Russel...",A remake of Richard Connell's famous short sto...,11.0,10.0
28489,tt0283026,Swimfan,2002.0,2003-05-30,"Drama, Thriller",85,USA,English,10000000.0,34411240.0,28564995.0,5.1,18771,John Polson,"Charles F. Bohl, Phillip Schneider",Twentieth Century Fox,"Jesse Bradford, Erika Christensen, Shiri Apple...",A high school senior with a promising swimming...,216.0,88.0

In [14]:
#  Calcule a duração média e mediana dos filmes da base.

imdb.agg(
    duracao_media = ("duracao", "mean"),
    duracao_mediana = ("duracao", "median")
)

                   duracao
duracao_media    93.054826
duracao_mediana  91.000000

In [17]:
# Calcule o lucro médio dos filmes com duração maior que 2 horas (ou seja, 120 minutos).

imdb.query("duracao > 120").assign(
    lucro = lambda x: x.receita - x.orcamento
).agg(
    lucro_medio = ("lucro", "mean")
)

                    lucro
lucro_medio  1.242328e+08

In [20]:
# Apresente na mesma tabela o lucro médio dos filmes com duracao menor que 120 minutos e o lucro médio dos 
# filmes com duracao maior ou igual a 120 minutos.


imdb.assign(
    lucro = lambda x: x.receita - x.orcamento,
    classificacao_minutos = lambda x: np.select(
        [x.duracao < 120, x.duracao >= 120],
        ["menor_120", "maior_igual_120"]
    )
).groupby(["classificacao_minutos"]).agg(
    lucro_medio = ("lucro", "mean")
)

                        lucro_medio
classificacao_minutos
maior_igual_120        1.179220e+08
menor_120              3.209231e+07

In [8]:
imdb.assign(
    direcao = lambda x: x.direcao.str.split(",")
).explode("direcao").groupby("direcao").agg(
    n_filmes = ("direcao", "count")
).query("n_filmes > 10").sort_values("n_filmes", ascending = False)

                  n_filmes
direcao
Michael Curtiz          89
Lesley Selander         77
Lloyd Bacon             77
William Beaudine        70
John Ford               68
...                    ...
Leslie Fenton           11
Lee Frost               11
Jonathan Kaplan         11
John Stockwell          11
John Guillermin         11

[376 rows x 1 columns]

In [10]:
# Apresente uma tabela com apenas o nome das pessoas que dirigiram mais de 10 filmes.

imdb.groupby(["direcao"]).agg(
    n_filmes = ("direcao", "count")
).query("n_filmes > 10").sort_values("n_filmes", ascending = False)

                     n_filmes
direcao
Michael Curtiz             82
Lesley Selander            77
Lloyd Bacon                73
William Beaudine           67
John Ford                  65
...                       ...
Chris Stokes               11
Victor Schertzinger        11
Jerry Lewis                11
Peter Hyams                11
Christopher Cain           11

[356 rows x 1 columns]

In [62]:
# Obtenha a média de lucro, orcamento e receita dos filmes por década.
# Por exemplo, década de 1980 contém os anos de 1980 até 1989, etc.

imdb.assign(
    decada = lambda x: np.floor(x["ano"]/10)*10,
    lucro = lambda x: x.receita - x.orcamento
).groupby(["decada"]).agg(
    lucro_medio = ("lucro", "mean"),
    orcamento_medio = ("orcamento", "mean"),
    receita_media = ("receita",  "mean")
)

         lucro_medio  orcamento_medio  receita_media
decada
1890.0           NaN              NaN            NaN
1910.0           NaN     1.003682e+05            NaN
1920.0  4.701685e+05     5.469951e+05   2.765120e+06
1930.0  2.244744e+07     6.365786e+05   1.418102e+07
1940.0  6.592251e+06     1.277086e+06   1.060052e+07
1950.0  9.600948e+06     1.472671e+06   8.788856e+06
1960.0  2.180370e+07     2.760621e+06   2.230190e+07
1970.0  4.506980e+07     3.230400e+06   3.727062e+07
1980.0  2.491990e+07     9.428874e+06   2.492267e+07
1990.0  3.588591e+07     2.099115e+07   4.480905e+07
2000.0  4.185801e+07     1.603204e+07   4.955623e+07
2010.0  7.457635e+07     1.488437e+07   5.815120e+07
2020.0 -4.284901e+06     1.213674e+07   1.107043e+07

In [64]:
imdb.columns

Index(['id_filme', 'titulo', 'ano', 'data_lancamento', 'generos', 'duracao',
       'pais', 'idioma', 'orcamento', 'receita', 'receita_eua', 'nota_imdb',
       'num_avaliacoes', 'direcao', 'roteiro', 'producao', 'elenco',
       'descricao', 'num_criticas_publico', 'num_criticas_critica'],
      dtype='object')

In [71]:
# Salve em um novo objeto uma tabela com a nota média dos filmes de cada pessoa que dirigiu filmes. Essa tabela 
# deve conter duas colunas (direcao e nota_imdb_media) e cada linha deve ser um pessoa diferente.

diretor_nota = imdb.groupby(["direcao"]).agg(
    nota_media = ("nota_imdb", "mean")
)

diretor_nota.to_csv("/workspaces/main-python-r/dados/imdb_diretor_nota.csv")

In [ ]:
# Use o merge para trazer a coluna nota_imdb_media da tabela do item anterior para a tabela imdb original.